@model IEnumerable<application_development.Models.TrainerCourse>

<h2>All Trainer Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Trainer Name</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Categories</th>
            <th scope="col">Course Description</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var trainerCourse in Model)
            {
                <tr>
                    <td scope="row">@trainerCourse.Id</td>
                    <td>@trainerCourse.Trainer.TrainerName</td>
                    <td>@trainerCourse.Course.CourseName</td>
                    <td>@trainerCourse.Course.Category.CategoryName</td>
                    <td>@trainerCourse.Course.CourseDescription</td>
                </tr>
            }
        }
    </tbody>
</table>

