@model IEnumerable<application_development.Models.Trainee>


<h2>All Trainee</h2>



@Html.ActionLink("Create New Trainee", "CreateTrainee", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm("AllTrainee", "Staff"))
{
    <div class="form-group">
        @Html.Label("Search Trainee by Name")
        @Html.TextBox("name", null, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Search by Name</button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">username</th>
            <th scope="col">Trainee name</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var trainee in Model)
            {
                <tr>
                    <td>@trainee.UserName</td>
                    <td>@trainee.TraineeName</td>
                    <td>
                        @Html.ActionLink("Change Password", "ChangeTraineePwd", new { Id = trainee.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit", "EditTrainee", new { Id = trainee.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("All Course of Trainee", "AllTraineeCourse", new { Id = trainee.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>