@model IEnumerable<application_development.Models.Trainee>


<h2>All Trainee</h2>



@Html.ActionLink("Create New Trainee", "CreateTrainee", null, new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th scope="col">username</th>
            <th scope="col">Trainee name</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var trainee in Model)
            {
                <tr>
                    <td>@trainee.UserName</td>
                    <td>@trainee.TraineeName</td>
                    <td>
                        @Html.ActionLink("Change Password", "ChangeTraineePwd", new { Id = trainee.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit", "EditTrainee", new { Id = trainee.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "DeleteTrainee", new { Id = trainee.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>